{% extends "base.html" %}

{% block body_class %}template-404{% endblock %}

{% block content %}
    <h1>Seite nicht gefunden</h1>
    <h2>Es tut uns leid, diese Seite konnte nicht gefunden werden </h2>

    <hr>
    <div class="clearfix">
        <a class="btn btn-primary float-left" href="/">&larr; Zurück</a>
    </div>
{% endblock %}
