<section class="{{ self.section_classes }}">
  <div class="container {{ self.container_classes }}">
    <div class="row">
        {% block stream_content %}{% endblock %}
    </div>
  </div>
</section>