{% extends "./block_base.html" %}
{% load wagtailcore_tags %}
{% block stream_content %}
    <div class="col-sm-12 col-lg-4">
        {% include_block self.left_column %}
    </div>
    <div class="col-sm-12 col-lg-4">
        {% include_block self.center_column %}
    </div>
    <div class="col-sm-12 col-lg-4">
        {% include_block self.right_column %}
    </div>
{% endblock %}